<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>usi-bds-web</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/root-context.xml,classpath:spring/csp-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>jsFilter</filter-name>
    <filter-class>usi.sys.filter.SpecialChrEscapeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jsFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CheckSafeFilter</filter-name>
    <filter-class>usi.sys.filter.SetCookieChkRefererFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckSafeFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckSessionFilter</filter-name>
    <filter-class>usi.sys.filter.CheckSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckSessionFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>menuFilter</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>MenuAccessFilter</filter-name>
    <filter-class>usi.sys.filter.MenuAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MenuAccessFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>uiLoaderServlet</servlet-name>
    <servlet-class>usi.sys.servlet.UiLoaderServlet</servlet-class>
    <init-param>
      <param-name>uiConfigLocation</param-name>
      <param-value>classpath:ui/ui.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/views/500.jsp</location>
  </error-page>
</web-app>