@charset "utf-8";
html,body{overflow:hidden;height:100%;}
body{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea,b{margin:0;}
a{outline:none;text-decoration:none;}
.clearfix:after {content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}

body{background-image:url("../images/notice/bg_body.jpg");color:#222222;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;font-size:14px;}
.head{overflow:hidden;border-bottom:2px solid #1566B7;height:80px;background:#FFFFFF;}
.h_logo{width:1000px;margin:0 auto;height:80px;}
.bd{position:absolute;left:0px;top:82px;bottom:0px;right:0px;overflow:auto;}
.main{width:1000px;min-height:650px;margin:35px auto 40px;background:#FFFFFF;border:1px solid #D3D3D3;border-radius:3px;box-shadow:0 2px 2px 0 #E3E3E3;}
.main-panel{padding:40px 80px;word-break:break-all;word-wrap:break-word;}
.main-panel h3{font-size:22px;padding-bottom:1em;text-align:center;}
.main-panel .content{padding-bottom:1em;}
.main-panel .fileArea{padding-bottom:1em;padding-top:1em;}
.main-panel .fileArea .fileItem{float:left;color:#555555;margin-right:15px;line-height:20px;padding-left:25px;padding-right:5px;position:relative;border:1px solid #FFFFFF;}
.main-panel .fileArea .fileItem:hover{background:#CBE8F6;border:1px solid #70C0E7;}
.fileIcon{width:16px;height:16px;background:url(../images/notice/fileicon.png) no-repeat;position:absolute;top:2px;left:5px;}
.main-panel .fileArea .fileItem .fileSize{margin-left:2px;font-size:12px;}
.main-panel .sign{padding-top:4em;text-align:right;padding-bottom:1em;line-height:20px;}


